<h2>{{name}}</h2>
<span class="contact-email">E-Mail: {{email}}</span>
<span class="contact-phone">Phone Number: {{phone}}</span>
<span class="contact-twitter">Twitter: {{twitter}}</span>
<span class="contact-linkedin">LinkedIn: {{linkedin}}</span>
<p class="contact-info">Other Information: {{info}}</p>
<button class="edit-button" type="button" name="button">Edit</button>
<button class="delete-button" type="button" name="button">Delete</button>
